body.single-product {

  // Common
  .single_add_to_cart_button,
  .wl-add-to {
    background-color: lightgray!important;
    color: black!important;
  }
  .wl-add-to {
    width: 100%;
  }



  // Grid
  .images,
  .summary,
  .related-products-container {
    width: 33%!important;
    float: left!important;
  }

  // 1.Left
  h1.product_title {
    &:after {
      background: none!important;
    }
  }
  .thumbnails .slide-wrapper {
    width: 375px;
    height: auto;
  }
  .thumbnails .slide-wrapper a {
    margin-right: 0!important;
    width: 100%!important;
    border: 1px solid #666;

    &.first {
      clear: none!important;
    }
  }
  .bx-wrapper .bx-controls-direction a {
    top: 60px;

    &.bx-prev {
      left: -25px;
    }
    &.bx-next {
      right: -15px;
    }
  }



  // 2.Middle
  // .wl-already-in,
  .wl-list-pop {
    display: none!important;
  }
  .entry-summary {
    padding: 0 20px;

    // btn wrapper
    form {
      width: 100%;
    }
    .single_add_to_cart_button {
      width: 280px;
    }
  }
  .product_meta span.sku_wrapper,
  .posted_in {
    font-weight: 600;

  }
  .product_meta .sku,
  .posted_in > a {
    font-weight: 400;
  }


  // 3.Right
  .wc-tabs {
    // Tab title
    // display: none;
  }
  .related.products {

    h3,
    .price,
    .add_to_cart_button {
      display: none!important;
    }

    h2 {
      font-weight: 400;
      margin: 0;
    }

    .related.products h2:after {
      display: none;
    }
    ul.products {
      margin-top: 0!important;
    }
    .products li {
      margin:0!important;
      padding: 0!important;
      width: 33%!important;
      border: none;
      a {
        border: 1px solid black;
      }
    }
    .wp-post-image {
      margin: 0;
    }
  }

}
